# Python мусор
__pycache__/
*.py[cod]
venv/
.env
*.pyc
*.mp4
*.zip


# Данные состояния (чтобы не перезатирать статус парковки у коллег)
*.json
*.pkl

# Видео (обычно они слишком тяжелые для Git, лучше хранить локально)
*.avi

# IDE настройки
.idea/
.vscode/