# Python мусор
__pycache__/
*.py[cod]
venv/
.env

# Данные состояния (чтобы не перезатирать статус парковки у коллег)
*.json
*.pkl

# Видео (обычно они слишком тяжелые для Git, лучше хранить локально)
*.mp4
*.avi

# IDE настройки
.idea/
.vscode/