<aside class="sidebar sidebar--admin">

    <header class="sidebar__header">
        <a href="../pages/admin/admin-dashboard.html" class="sidebar__logo-link">
            <img src="../assets/images/logo.png" alt="Logo" class="sidebar__logo-img">
            <span class="sidebar__logo-text">Parkovka
                <small class="sidebar__logo-subtext">Admin Panel</small>
            </span>
        </a>
    </header>

    <nav class="sidebar__nav">
        <ul class="sidebar__menu">
            <li class="sidebar__menu-item">
                <a href="../pages/admin/admin-dashboard.html" class="sidebar__menu-link">
                    <i class="sidebar__icon icon-dashboard"></i> 
                    <span class="sidebar__text">Dashboard</span>
                </a>
            </li>
            <li class="sidebar__menu-item">
                <a href="../pages/admin/manage-spaces.html" class="sidebar__menu-link">
                    <i class="sidebar__icon icon-parking-space"></i>
                    <span class="sidebar__text">Space Management</span>
                </a>
            </li>
            <li class="sidebar__menu-item">
                <a href="../pages/admin/manage-users.html" class="sidebar__menu-link">
                    <i class="sidebar__icon icon-roles"></i>
                    <span class="sidebar__text">User Management</span>
                </a>
            </li>
            <li class="sidebar__menu-item">
                <a href="../pages/admin/manage-bookings.html" class="sidebar__menu-link">
                    <i class="sidebar__icon icon-booking-list"></i>
                    <span class="sidebar__text">Booking Management</span>
                </a>
            </li>
            <li class="sidebar__menu-item">
                <a href="../pages/admin/reports.html" class="sidebar__menu-link">
                    <i class="sidebar__icon icon-reports"></i>
                    <span class="sidebar__text">Reports</span>
                </a>
            </li>
        </ul>
    </nav>

    <footer class="sidebar__footer">
        <a href="../pages/admin/admin-profile.html" class="sidebar__profile">
            <img src="../assets/images/avatar-admin.png" alt="Admin Avatar" class="sidebar__avatar">
            <div class="sidebar__user-info">
                <span class="sidebar__user-name">Admin User</span>
                <span class="sidebar__user-email">admin@parking.com</span>
            </div>
        </a>
        
        <a href="#" class="sidebar__menu-link sidebar__menu-link--logout">
             <i class="sidebar__icon icon-logout"></i>
             <span class="sidebar__text">Logout</span>
        </a>
    </footer>

</aside>