<footer class="page-footer">

    <div class="page-footer__copyright">
        &copy; <span id="copyright-year">2025</span> Parking Manager. All rights reserved.
    </div>

    <nav class="page-footer__nav">
        <ul class="page-footer__menu">
            <li class="page-footer__menu-item">
                <a href="../pages/terms-of-service.html" class="page-footer__menu-link">Terms of Service</a>
            </li>
            <li class="page-footer__menu-item">
                <a href="../pages/privacy-policy.html" class="page-footer__menu-link">Privacy Policy</a>
            </li>
            <li class="page-footer__menu-item">
                <a href="../pages/help.html" class="page-footer__menu-link">Help</a>
            </li>
        </ul>
    </nav>

</footer>